body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    background-color: antiquewhite;
}
header{
    background-color: coral;
    text-align: center;
}
article{
    text-align: center;
}
img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    margin-bottom: 10px;
    text-align: center ;
}