.super-mario {
    width: 150px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 300px;
  }
  .baloon {
    position: absolute;
    top: 350px;
    left: 400px;
    z-index: 1;
  }
  .speach {
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 430px;
    z-index: 2;
  }
  .bowser {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 750px;
  }