h1{
    text-align: center;
}

p{
    text-align: center;
}

ol:hover, ul:hover {
       background-color: blueviolet;
       list-style: none;
   }

li:active{
    font-family: rgb(206, 203, 203);
}        
